.People {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 3px #ccc;
    padding : 16px;
    text-align: center;
    background: skyblue;
}


input[type=text] {
    border-radius: 10px;
    border: grey;
    color : darkslategray;
    padding: 7px;
  }